@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    /* colors */
    --very-light-text: hsl(233, 11%, 84%);
    --light-text: hsl(236, 9%, 61%);
    --dark-text: hsl(235, 19%, 35%);
    --body-background-color: hsl(0, 0%, 98%);
    --todo-background-color: hsl(0, 0%, 100%);
    --border-color: rgb(219, 220, 226);
    /* images */
    --body--background-image: url('../images/bg-desktop-light.jpg');
    --body--background-image-mobile: url('../images/bg-mobile-light.jpg');
    --toggler-icon: url('../images/icon-moon.svg');
    --component-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.dark-mode:root {
    /* colors */
    --light-text: #777a92;
    --very-light-text: hsl(233, 14%, 35%);
    --dark-text: hsl(234, 39%, 85%);
    --body-background-color: hsl(235, 21%, 11%);
    --todo-background-color: hsl(235, 24%, 19%);
    --border-color: hsl(233, 14%, 35%);
    /* images */
    --body--background-image: url('../images/bg-desktop-dark.jpg');
    --body--background-image-mobile: url('../images/bg-mobile-dark.jpg');
    --toggler-icon: url('../images/icon-sun.svg');
    --component-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: var(--body--background-image);
    background-size: 100% 30rem;
    background-repeat: no-repeat;
    background-color: var(--body-background-color);
    transition: background .3s;
}

.checkbox {
    position: relative;
    padding: 1px;
    background: var(--border-color);
    border-radius: 50%;
}

.todo-app {
    width: 54rem;
    margin-top: 8.8rem;
}



/* header */
.header {
    display: flex;
    justify-content: space-between;
}

.header__text {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    color: #fff;
}

.header__toggler {
    width: 2.6rem;
    height: 2.6rem;
    background-image: var(--toggler-icon);
    cursor: pointer;
    transition: background-image .3s;
}



/* new todo */
.new-todo {
    display: flex;
    padding: 2.05rem 2.4rem;
    margin-top: 4rem;
    border-radius: 5px;
    box-shadow: var(--component-shadow);
    background-color: var(--todo-background-color);
}

.checkbox::before {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    background-color: var(--todo-background-color);
}

.new-todo__input {
    width: 100%;
    margin-left: 2.4rem;
    padding-top: 2px;
    outline: 0;
    border: none;
    font-size: 1.8rem;    
    background-color: transparent;
    color: var(--dark-text);
}

.new-todo__input::placeholder {
    color: var(--light-text);
}



/* todo list */
.todo-list {
    margin-top: 3rem;
    border-radius: 5px 5px 0 0;
    box-shadow: var(--component-shadow);
    background-color: var(--todo-background-color);
}

.todo-list__todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.4rem;
    border-bottom: 1px solid var(--border-color);
}

.is-hidden {
    display: none;
}

.todo-list__todo:hover .todo-list__todo__delete {
    display: block;
}

.todo-list__todo__delete {
    cursor: pointer;
}

.todo-list__todo__content {
    display: flex;
    align-items: center;
}

.todo-list .checkbox {
    cursor: pointer;
}

.todo-list .checkbox:hover {
    background: linear-gradient(145deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.completed .checkbox {
    background: linear-gradient(145deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%)) !important;
}

.completed .checkbox::before {
    background: url('../images/icon-check.svg'), linear-gradient(145deg,hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}

.todo-list__todo__text {
    max-width: 40rem;
    margin-top: 2px;
    margin-left: 2.4rem;
    font-size: 1.8rem;
    word-break: break-word;
    color: var(--dark-text);
}

.completed .todo-list__todo__text {
    text-decoration: line-through;
    color: var(--light-text);
}

.todo-list__todo__delete {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url('../images/icon-cross.svg');
    display: none;
}

.todo-app.empty .todo-list {
    border-radius: 5px;
}



/* controllers */
.controllers {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    box-shadow: var(--component-shadow);
    border-radius: 0 0 5px 5px;
    font-size: 1.4rem;
    color: var(--light-text);
    background-color: var(--todo-background-color);
}

.controllers__filter {
    flex: 1;
    display: flex;
    justify-content: center;
}

.controllers__filter-mobile {
    display: none;
    box-shadow: var(--component-shadow);
}

.controllers__filter__button,
.controllers__clear-completed__button {
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    color: var(--light-text);
    cursor: pointer;
}

.controllers__filter__button:hover,
.controllers__clear-completed__button:hover {
    color: var(--dark-text);
}

.controllers__filter__button {
    font-weight: 700;
}

.controllers__filter__button.active {
    color: hsl(220, 98%, 61%);
}

.controllers__filter .controllers__filter__button:nth-child(2) {
    margin: 0 1.6rem;
}

.todo-app.empty .controllers,
.todo-app.empty .controllers__filter-mobile {
    display: none;
}


.controllers__clear-completed__button {
    border: none;
    background-color: transparent;
}

.msg {
    margin-top: 4.8rem;
    font-size: 1.4rem;
    text-align: center;
    color: var(--light-text);
}

.msg-empty {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.8rem;
    color: var(--light-text);
}

.todo-app.empty .msg {
    display: none;
}

/* attribution */
.attribution {
    display: flex;
    align-items: flex-end;
    padding-bottom: 4rem;
    flex: 1;
    font-size: 1.2rem;
    color: var(--dark-text);
}

.attribution__link {
    color: hsl(220, 98%, 61%);
}

[data-anime] {
    opacity: 0;
    transition: .5s;
}

[data-anime="top"] {
    transform: translateY(-3rem);
}

[data-anime].animate {
    opacity: 1;
    transform: translate(0, 0);
}



@media (max-width: 570px) {
    body {
        background-image: var(--body--background-image-mobile);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .header__text {
        font-size: 2.8rem;
    }

    .todo-app {
        width: 100%;
        padding: 0 2.4rem;
    }



    /* header */
    .header__toggler {
        width: 2rem;
        height: 2rem;
        background-size: 100%;
    }



    /* new todo */
    .new-todo {
        margin-top: 2.4rem;
        padding: 1.55rem 2rem;
    }

    .new-todo__input {
        font-size: 1.4rem;
        margin-left: 1.6rem;
    }



    /* todo list */
    .todo-list {
        margin-top: 1.6rem;
    }

    .todo-list__todo {
        padding: 1.5rem 2rem;
    }

    .todo-list__todo__text {
        font-size: 1.4rem;
        margin-left: 1.6rem;
    }

    .todo-list__todo__delete {
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        background-size: 1.4rem 1.4rem;
    }



    /* controllers */
    .controllers__filter {
        display: none;
    }

    .controllers__filter-mobile {
        display: flex;
        justify-content: space-around;
        background-color: var(--todo-background-color);
        margin-top: 2.4rem;
        padding: 1.6rem;
        border-radius: 5px;
    }
}
